/* --------------------------------------------------------- 
 * General DataViz
 --------------------------------------------------------- */
/* M3 container */
.m3 {
}

.m3 text {
    font: 10px sans-serif;
    color:#555;
    fill:#555;
}